<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href=" " class="navbar-brand">NavBar</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbartext">
        <ul class="navbar-nav mr-auto">
            <li class="navitem"><a href="" class="nav-link">Home</a></li>
            <li class="navitem"><a href="" class="nav-link">About</a></li>
            <li class="navitem"><a href="" class="nav-link">Log In</a></li>
            <li class="navitem"><a href="{% url 'Inventory:register' %}" class="nav-link">Register</a></li>




        </ul>
    </div>
</nav>